.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-color: #161f30;
}
.output-box {
  width: 100%;
  height: 104px;
  background-color: #869d70;
  margin: 32px 0px 32px 0px;
  border-radius: 16px;
  border: 8px solid #172431;
  box-shadow: -2.8px -4px 2.4px #1c2737, 2.8px 4px 2.4px #111a29,
    inset 1px 1px 2px #657462, inset 2.8px 2.8px 2.4px #6a7d5c,
    inset 4px 4px 8px #6a7d5c;
}

.input-display {
  font-size: 16px;
}

.output-display {
  font-size: 24px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #161f30;
  gap: 12px;
}

.container > .input-buttons {
  background-color: #1d2635;
  color: #c5cfd4;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  box-shadow: -1.8px -2px 2.4px #242d3c, 1.8px 2px 2.4px #111a29;
  transition-property: box-shadow, background-color, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.container > .input-buttons:active {
  background-color: #202735;
  color: #899096;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  box-shadow: inset 2px 2.8px 2.4px #111a29, inset -1.8px -1.8px 2.4px #242d3c;
  transform: scale(0.96);
}
